.main {
  padding-left: 20%;
}
.sidebar-page {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  .sidebar-layout {
    display: flex;
    flex-direction: row;
    min-height: 100%;
  }
}

.main-title {
  font-family: "comic sans ms", cursive;
  font-size: 86px;
}

.name-class {
  font-style: italic;
  font-family: "Times New Roman";
  font-size: 60px;
}

.main-sentense-japanese {
  font-size: 33px;
  font-weight: bold;
  font-family: "hiragino kaku gothic pro", sans-serif;
}

.main-sentense-english {
  font-size: 29px;
  font-style: italic;
  font-weight: bold;
  font-family: "hiragino kaku gothic pro", sans-serif;
}
